.register-section{
	position:relative;
	padding:120px 0px 70px;
}

.register-section .sec-title{
	margin-bottom:40px;
}

.register-section .sec-title h2{
	font-size:24px;
	font-weight:600;
}

.register-section .sec-title:before,
.register-section .sec-title:after{
	left:0px;
	border-bottom-width:2px;
}

.register-section .form-column {
	margin: auto;
	margin-bottom:50px;
}

.styled-form{
	position:relative;
}

.styled-form .form-group{
	position:relative;
	margin-bottom:30px;
	font-size:14px;
	color:#9e9e9e;
}

.styled-form .form-group .check-box{
	line-height:24px;
	font-size:15px;
	font-weight:normal;
	padding-top:5px;
	color:#1f1f1f;
}

.styled-form .form-group .check-box label{
	position:relative;
	top:-1px;
	font-weight:normal;
	padding:0px;
	font-size:15px;
	cursor:pointer;
}

.styled-form .pull-left label,
.styled-form .pull-right label{
	cursor:pointer;
	font-weight:400;
}

.styled-form .form-group .adon-icon{
	position:absolute;
	top:50%;
	margin-top:-15px;
	right:2px;
	height:20px;
	line-height:20px;
	font-size:15px;
	color:#999999;
	z-index:2;
}

.styled-form .form-group .field-label{
	display:block;
	color:#1f1f1f;
	text-transform:capitalize;
	font-size:16px;
	margin-bottom:7px;
	font-weight:400;
}

.styled-form input[type="text"],
.styled-form input[type="email"],
.styled-form input[type="password"],
.styled-form input[type="tel"],
.styled-form input[type="number"],
.styled-form input[type="url"],
.styled-form select,
.styled-form textarea{
	position:relative;
	display:block;
	width:100%;
	background:#ffffff;
	line-height:24px;
	padding: 5px 5px 10px;
	height:40px;
	border-bottom:1px solid #e0e0e0;
	transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
}

.checkout-section .styled-form input[type="text"],
.checkout-section .styled-form input[type="email"],
.checkout-section .styled-form input[type="password"],
.checkout-section .styled-form select{
	line-height:26px;
	height:44px;
}

.styled-form select{
	-webkit-appearance:none;
	-ms-appearance:none;
	-moz-appearance:none;
	-o-appearance:none;
	background:#ffffff url(../images/icons/icon-select.png) right center no-repeat;
	cursor:pointer;
}

.styled-form select option{
	text-indent:20px;
}

.styled-form textarea{
	resize:none;
	height:110px;
}

.styled-form input:focus,
.styled-form select:focus,
.styled-form textarea:focus{
	border-color:#3ba5ea;
}

.styled-form .form-group .theme-btn{
	min-width:150px;
	text-align:center;
}
